.wy-side-nav-search, .wy-nav-top {
background: #FCFCFC;
}
.wy-nav-side {
background: #FCFCFC;
}
.rst-versions .rst-current-version {
background: #FCFCFC;
}

body {
  color: #263238;
}

h1 {
  color: #455A64;
}

h2 {
  color: #455A64;
}

h3 {
  color: #455A64;
}

h4 {
  color: #455A64;
}

a:link {
  color: #21618C;
}

/* visited link */
a:visited {
  color: #633974;
}

/* mouse over link */
a:hover { 
  text-decoration: underline;
}

/* selected link */
a:active {
  color: blue;
}

p {
  font-family: "Verdana", Verdana, sans-serif;
}

li a, h1, h2, h3, h4 {
  font-family: "Verdana", Verdana, sans-serif;
}

li a:hover {
  background-color: #B0BEC5;
  color: #263238;
}

li a:hover:not(.active) {
  background-color: #B0BEC5;
  color: #263238;
}
